@font-face {
    font-family: "Space Grotesk";
    src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

:root {
    --azulescuro-Ready: #021859 ;
    --azulclaro-Ready : #3999CF ;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

.banner {
    background-color: var(--azulescuro-Ready);
    background-image: url(img/Comunity.png);
}


header {
    height: 400px;  
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .container-grid .favicon {
    width: 192px;
    margin-left: -50px;
    margin-top: 0px;
   

    
}

.Login {
    width: 100px;
    height: 100px;
}

.menu {
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white ;
    font-family: "Space Grotesk";
    font-size: 26px;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: white;
    color: var(--azulclaro-Ready);
}

header div.banner {
    width: 1000px;
}

.conteudo-banner {
    height: 400px;
    display: flex;
}

.conteudo-banner p {
    font-family: "Space Grotesk";
    font-size: 30px;
    color: white;
    text-decoration: underline transparent;
    padding-top: 70px;
}

#Sobre {
    height: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 25%;
}

#Sobre .title {
    color: var(--azulescuro-Ready);
    margin-bottom: 50px;
    font-family: "Space Grotesk";
    font-size: 26px;
}

#Sobre p {
    font-family: 'Padauk';
    font-size: 20px;

    text-align: left;
}

#Cases {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 150px;
}

#Cases h2 {
    margin-bottom: 100px;
    color: var(--azulescuro-Ready);
    font-family: "Space Grotesk";
    font-size: 26px;
}

.container-cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    height: 310px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--azulclaro-Ready);
    border-radius: 15px;
    
}

.card img {
    height: 70%;
    width: 75%;
    margin-top: 20px;
    opacity: 90%;
}

.card button {
    
    width: 75%;
    height: 40px;
    
    background-color: var(--azulescuro-Ready) ;
    
    border: none;
    border-radius: 8px;
    
    color: white;
    
    font-family: 'Padauk';
    font-size: 26px;
    font-weight: 600;
    
    cursor: pointer;
    
    transition: background-color 500ms;

    margin-bottom: 20px;
}

.card button:hover {
    background-color: #02217e;
}

#portfólio {
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
   
    

    margin-bottom: 200px;
}

.filtro {
    height: 100%;
    width: 88%;

    background: var(--azulescuro-Ready);
    display: flex; 
    justify-content: center;
    border-radius: 100px;
    background-image: url(img/canoa.png);
   
}

#portfólio img {
    width: 20%;
    height: 50%;
    margin-top: 100px;
    
}


#portfólio a {
    width: fit-content;
    font-family: "Space Grotesk";
    font-size: 36px;
    text-decoration: underline transparent;
    color: white;
    
}

.filtro .container-grid {

    display: flex;
    justify-content: center;
    gap: 50px;

}

.filtro .texto{

    display: flex;
    flex-direction: column;
}

.filtro .texto a:first-child {

    margin-top: 170px;

}

#formulario {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;

}

#formulario form {
    width: 40%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;

    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.452) ;
    
    background-color:white;
    color: white;
    font-family: "Space Grotesk";
    
}

#formulario h2 {
    font-family: "Space Grotesk";
    font-size: 30px;
    color: var(--azulescuro-Ready);
    margin-bottom: 35px;
}

#formulario form label {
    margin-bottom: 5px;
    font-size: 20px;
    color: black;

}

.campo {
    width: 80%;

    margin-bottom: 30px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 40px;

    color: white;
    background-color:#3998cf8e;

    border-radius: 10px;

    text-indent: 10px;

    font-family: "Padauk";
    font-size: 20px;
}

.campo-textarea {
    width: 80%;

    margin-bottom: 30px;
    border: 20px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.campo-textarea textarea {
    color: white;
    background-color: #3998cf8e;

    border-radius: 10px;

    padding: 10px;

    font-family: "Padauk";
    font-size: 20px;
    resize: none;
    outline: none;
}

#campo-descricao {

    border-width: 2px;
    border-color: black;

}

.campo input:focus, .campo-textarea textarea:focus {
    outline: 2px solid var(--azulclaro-Ready);
}

form button{
    height: 40px;
    width: 20%;

    font-family: "Space Grotesk";
    font-size: 20px;
    font-weight: 600;

    color: white;
    background-color: var(--azulescuro-Ready);

    border: none;
    border-radius: 10px;

    cursor: pointer;

    text-transform: uppercase;

    transition: background-color 500ms ease ;
}

form button:hover {
    background-color: #02289ae6;
}

form input::placeholder,
form textarea::placeholder {
    color: #535252;
}

footer {
    height: 850px;
    background-color: #063F5F;
}

footer .container-grid {
    height: 100% ;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.container-grid .responsi {
    height: 40%;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;

}

.card-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px

}

.card-footer img {
    margin-top: 40px;

    width: 70%;
    margin-right: 20px;

}


.card- {
   
    width: 155px;
    background-color: none;
    color: white;
    font-family: "Space Grotesk";
    font-size: 20px;
    margin-right: 60px;

    
    
    
}

.card3 {
    height: 30px;
    width: 130px;
    background-color: var(--azulclaro-Ready);
    color: white;
    font-family: "Space Grotesk";
    font-size: 20px;
    border-radius: 30px;
    margin-top: 50px;
    
   
    

}


.icones {
    width: 100px;

    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: -10px;
}

.icones svg {
    width: 60px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 10px;
}

.icones3 svg {
    width: 50px;
   
}

.icones3 {
    display: flex;
    justify-content: space-between;
    width: 170px;
    position: relative;
    right: 21px;

}


.patri {
    margin-left: 45px;
    background-color: var(--azulclaro-Ready);
    border-radius: 30px;
    height: 30px;
    width: 130px;
    display: flex;
    justify-content: center;
    

}

.service {
    margin-left:40px ;
    background-color: #3999CF;
    border-radius: 30px;
    height:30px ;
    padding-left: 23px;
    width: 130px;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;

  

}

.services a {
    font-family: "Padauk";
    font-size: 20px;
    color: white;
    text-decoration: underline transparent;

}

.services a:hover {
    color: #021859;
}



.redes {
    margin-left: 35px;
}

.menu-fechado {
    display: none;
}

#botao svg { 
    width: 80px;
    height: 80px;
}

.banner #botao{
    background-color: unset;
    border: none;
    display: none;
}

#icone-barras {
    display: none;
}


@media screen and (max-width: 1300px) {
    

    .menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-color: rgba(61, 61, 61, 0.61);
        margin-top: 100px;

        position: relative;
        left: 58px;
        z-index: 1;

    }   
    
    .banner #botao {
        display: unset;
    }
    
    
}

@media screen and (max-width: 1033px) {

    
   #portfólio img {
    height: 40%;
    width: 20%;
   }

   #portfólio a {
    font-size: 30px;
   }

   .container-cards {
    overflow-x: auto;
    gap: 20px;
   }
}

@media screen and (max-width: 900px) {
    .container-grid img {
        width: 100px;
        height: 100px;
    }

    .conteudo-banner p {
        font-size: 20px;
    }

    #Sobre {
        margin-bottom: 500px;
    }

    #Sobre p {
        width: 400px;
        position: relative;
        right: 35px;
        font-size: 25px;
    }

    .container-cards {
        overflow-x: auto;
        gap: 20px;
    }

    footer {
        height: 850px;
    }


    .card {

        flex-grow: 0;
        flex-shrink: 0;

    }

    #Cases {

        margin: 50px;

    }

    #portfólio {
        height: 300px;
    }

    #portfólio a {
        font-size: 22px;
        position: relative;
        bottom: 25px;
       
    }

    #portfólio img {
        height: 40%;
    }

    #formulario form {
        width: 70%;

    }
    

}

@media screen and (max-width: 750px) {

    .menu {
        height: 400px;
        width: 350px;
        position: relative;
        top: 220px;
       
    }

    #portfólio {
        height: 250px;
    }

    #portfólio .filtro {
        position: relative;
        left: 0px;
    }

    #portfólio a {
        font-size: 17px;
        position: relative;
        bottom: 50px;
    }

    #portfólio img {
        width: 100px;
        position: relative;
        bottom: 20px;
    }
}

@media screen and (max-width: 600px) {

    .menu {
        width: 300px;
        font-size: 17px;
        position: relative;
        left: 38px;
    }


    .menu a {
        font-size: 18px;
    }

    #Sobre {
        position: relative;
        right: 30px;
        height: 300px;
        
    }

    #Sobre .title {
        font-size: 20px;
        position: relative;
        left: 30px;
    }


    #Sobre p  {
        font-size: 18px;
    }

    #Cases {
        position: relative;
        bottom: 20px;
    }

    .card-footer img {
        position: relative;
        left: 10px;
    }

    #portfólio img {
        height: 120px;
        position: relative;
        bottom: 20px;
    }
    

    #portfólio .filtro {
        height: 300px;
        width: 100%;
        border-radius: 2px;
        position: relative;
        right: 3px;
    }

    #portfólio a {
        font-size: 16px;
    }


    #formulario form {
        width: 100%;    
    }

    
    form button {
        width: 50%;
    }

    .container-grid .responsi {
        position: relative;
        left: 15px;
    }


}

@media screen and (max-width: 500px) {
    .card {
        height: 210px;
        width: 200px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        background-color: var(--azulclaro-Ready);
        border-radius: 15px;
        
    }

    .card img {
        height: 70%;
        width: 75%;
        margin-top: 20px;
        opacity: 90%;
    }
    
    .card button {
        
        width: 75%;
        height: 30px;
        
        background-color: var(--azulescuro-Ready) ;
        
        border: none;
        border-radius: 8px;
        
        color: white;
        
        font-family: 'Padauk';
        font-size: 20px;
        font-weight: 600;
        
        cursor: pointer;
        
        transition: background-color 500ms;
    
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px) {

   

    #Sobre .title {
        font-size: 18px;
    }

    #Sobre p{
        font-size: 16px;
        width: 300px;
        position: relative;
        right: 30px;
    }
    

    #portfólio .filtro {
        height: 300px;
        position: relative;
        left: 0px;
    }

    #portfólio img {
        height: 80px;
        width: 70px;
        position: relative;
        top: 20px;
        
        
    }

    
   
    
}

@media screen and (max-width: 380px) {

    .menu {
        position: relative;
        left: 30px;
    }
    
    header .container-grid .favicon {
        position: relative;
        left: 20px;
    }    

    .filtro .texto {
       position: relative;
       bottom: 10px;
    }
   
    #portfólio  .filtro {
        height: 300px;
    }

    #portfólio img {
        height: 70px;
        width: 60px;
    }

    .container-grid .responsi {
        position: relative;
        left: 15px;
    }



}